@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/users_login/style.css" />
    <title>Form Input Wave</title>
</head>
<body>
    <div class="container">
        <h1>Please Login</h1>
        <form action="" method="post">
            <div class="form-control">
                <input type="text" name="user_username" required>
                <label>UserName</label>
            </div>

            <div class="form-control">
                <input type="password" name="user_password" required>
                <label>Password</label>
            </div>

            <button class="btn login-submit">Login</button>

            <p class="text">Don't have an account? <a href="#">Register</a> </p>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="~/users_login/script.js"></script>
</body>
</html>